/__pycache__
/modules/__pycache__
/modules/methods/__pycache__
/modules/methods/irf-master
*.pyc
/modules/methods/ACEDNV/model-zoo/
/modules/methods/OEMC/final_models
/degs_cached
*.png
cached/VU_s9_f250_w1_o0
degs_cached_optimization
modules/methods/gazeNet/logdir/my_model